.userProfile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.placeholderImage {
  display: flex;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 12px;
}

.nickname {
  font-size: 16px;
  font-weight: bold;
}
